/**
 * Main sender CSS.
 */

body {
  margin: 10px auto;
  padding: 0;
  width: 200px;
  background-image: -webkit-radial-gradient(center center, circle cover, #eee, #ccc);
}
#dashboard {
  width: 100%;
  height: 100%;
  border: 0;
}
input, textarea {
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  width: 100%;
}
input:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
.receiver {
  border: 1px solid #666;
  border-radius: 5px;
  padding: 5px;
}
.receiver-list {
  list-style: none;
  padding-left: 0px;
  margin: 3px;
}
